.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  margin: auto;
}
.item {
  display: flex;
align-items: center;
gap: 24px;
width: 100%;
padding: 12px;
border-radius: 4px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.status {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
 
}
.online {
 
  background-color: green;
}
.status.offline {
  background-color: red;
}
.name{
    font-size: 1.6rem;
    font-weight: 500;
}